In [11]:
import pandas as pd
import joblib

In [12]:
df = pd.read_csv('../data/Dataset Request Loan 05102023.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3777 entries, 0 to 3776
Data columns (total 29 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   debtor_nik                      3777 non-null   int64
 1   debtor_name                     3777 non-null   object
 2   debtor_gender                   3777 non-null   object
 3   debtor_birth_place              3777 non-null   object
 4   debtor_address                  3777 non-null   object
 5   debtor_zip                      3777 non-null   int64
 6   debtor_rt                       3777 non-null   int64
 7   debtor_rw                       3777 non-null   int64
 8   debtor_marital_status           3777 non-null   object
 9   debtor_company                  3777 non-null   object
 10  debtor_number                   3777 non-null   object
 11  debtor_id                       3777 non-null   int64
 12  debtor_age                      3777 non-null   int64
 13  debtor_occupation               3777 non-null   object
 14  monthly_income                  3777 non-null   int64
 15  debt                            3777 non-null   float64
 16  dti                             3777 non-null   float64
 17  monthly_expenses                3777 non-null   int64
 18  net_income                      3777 non-null   int64
 19  previous_credit_monthly_income  3777 non-null   int64
 20  financial_changes               3777 non-null   int64
 21  business_conditions             3777 non-null   int64
 22  asset_value                     3777 non-null   int64
 23  interest_rate                   3777 non-null   float64
 24  collateral                      3777 non-null   int64
 25  old_collateral                  3777 non-null   int64
 26  ltv                             3777 non-null   float64
 27  tenor                           3777 non-null   int64
 28  loan_amount                     3777 non-null   float64
dtypes: float64(5), int64(16), object(8)
memory usage: 855.9+ KB

In [13]:
df['loan_amount'].iloc[0]

76245000.0

In [14]:
import json

# Assuming test_data is a dictionary
test_data = df.iloc[0].drop('loan_amount', axis=0).to_dict()

# Specify the file name where you want to save the JSON data
file_name = 'data_loan.json'

# Writing the dictionary to a JSON file using json.dump()
with open(file_name, 'w') as file:
    json.dump(test_data, file)

print(f'Data has been saved to the JSON file: {file_name}')

Data has been saved to the JSON file: data_loan.json

In [15]:
with open('data_loan.json', 'r') as file:
    json_data = json.load(file)
json_data

{'debtor_nik': 4133431716345918,
 'debtor_name': 'Cemplunk Zulaika',
 'debtor_gender': 'perempuan',
 'debtor_birth_place': 'Bengkulu, 23-09-1997',
 'debtor_address': 'Jalan Raya Setiabudhi No. 857\nBanjarbaru, KR 12188',
 'debtor_zip': 12188,
 'debtor_rt': 6,
 'debtor_rw': 10,
 'debtor_marital_status': 'Menikah',
 'debtor_company': 'CV Nugroho Melani (Persero) Tbk',
 'debtor_number': '+62 (102) 776 3467',
 'debtor_id': 180034427373791,
 'debtor_age': 32,
 'debtor_occupation': 'Pengusaha',
 'monthly_income': 50100000,
 'debt': 7925000.0,
 'dti': 0.1581836327345309,
 'monthly_expenses': 3100000,
 'net_income': 47000000,
 'previous_credit_monthly_income': 26900000,
 'financial_changes': 23200000,
 'business_conditions': 35,
 'asset_value': 89500000,
 'interest_rate': 11.101694915254235,
 'collateral': 52600000,
 'old_collateral': 32800000,
 'ltv': 0.8927985948477751,
 'tenor': 164}

In [16]:
df = pd.DataFrame.from_dict([json_data])
df

,debtor_nik,debtor_name,debtor_gender,debtor_birth_place,debtor_address,debtor_zip,debtor_rt,debtor_rw,debtor_marital_status,debtor_company,...,net_income,previous_credit_monthly_income,financial_changes,business_conditions,asset_value,interest_rate,collateral,old_collateral,ltv,tenor
0,4133431716345918,Cemplunk Zulaika,perempuan,"Bengkulu, 23-09-1997","Jalan Raya Setiabudhi No. 857\nBanjarbaru, KR ...",12188,6,10,Menikah,CV Nugroho Melani (Persero) Tbk,...,47000000,26900000,23200000,35,89500000,11.101695,52600000,32800000,0.892799,164

In [17]:
model = joblib.load('../model/rl_pipeline.joblib')
model

Pipeline(steps=[('preprocessing',
                 ColumnTransformer(transformers=[('numerical',
                                                  Pipeline(steps=[('standar_scaler',
                                                                   StandardScaler())]),
                                                  ['monthly_income', 'debt',
                                                   'dti', 'monthly_expenses',
                                                   'net_income',
                                                   'financial_changes',
                                                   'asset_value',
                                                   'interest_rate',
                                                   'collateral',
                                                   'old_collateral', 'ltv',
                                                   'tenor']),
                                                 ('categorical',
                                                  Pipeline(steps=[('Ordinal',
                                                                   OrdinalEncoder())]),
                                                  ['debtor_occupation'])])),
                ('model', OrthogonalMatchingPursuitCV())])

In [18]:
model.predict(df)[0]

76244999.99999997

In [27]:
select_column = ['monthly_income', 'debt', 'dti', 'monthly_expenses',
                'net_income',
                'financial_changes', 'asset_value',
                'interest_rate', 'collateral','old_collateral', 'ltv',
                'debtor_occupation', 'tenor']
df = df[select_column].copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   monthly_income     1 non-null      int64
 1   debt               1 non-null      float64
 2   dti                1 non-null      float64
 3   monthly_expenses   1 non-null      int64
 4   net_income         1 non-null      int64
 5   financial_changes  1 non-null      int64
 6   asset_value        1 non-null      int64
 7   interest_rate      1 non-null      float64
 8   collateral         1 non-null      int64
 9   old_collateral     1 non-null      int64
 10  ltv                1 non-null      float64
 11  debtor_occupation  1 non-null      object
 12  tenor              1 non-null      int64
dtypes: float64(4), int64(8), object(1)
memory usage: 232.0+ bytes

In [28]:
numerical_loan = ['monthly_income', 'debt', 'dti', 'monthly_expenses',
                'net_income',
                'financial_changes', 'asset_value',
                'interest_rate', 'collateral','old_collateral', 'ltv',
                'tenor']

categorical_loan = ['debtor_occupation']

In [29]:
import joblib
model = joblib.load('../model/rl_best_model.joblib')
scaler = joblib.load('../model/rl_scaler.joblib')
encoder = joblib.load('../model/rl_encoder.joblib')

In [30]:
df

,monthly_income,debt,dti,monthly_expenses,net_income,financial_changes,asset_value,interest_rate,collateral,old_collateral,ltv,debtor_occupation,tenor
0,50100000,7925000.0,0.158184,3100000,47000000,23200000,89500000,11.101695,52600000,32800000,0.892799,Pengusaha,164

In [31]:
df[numerical_loan] = scaler.transform(df[numerical_loan])
df

,monthly_income,debt,dti,monthly_expenses,net_income,financial_changes,asset_value,interest_rate,collateral,old_collateral,ltv,debtor_occupation,tenor
0,0.415866,1.740099,0.238754,-0.933627,1.445913,0.888199,1.394151,1.782538,2.772353,0.346323,-0.302387,Pengusaha,1.879163

In [32]:
df[categorical_loan] = encoder.transform(df[categorical_loan])
df

,monthly_income,debt,dti,monthly_expenses,net_income,financial_changes,asset_value,interest_rate,collateral,old_collateral,ltv,debtor_occupation,tenor
0,0.415866,1.740099,0.238754,-0.933627,1.445913,0.888199,1.394151,1.782538,2.772353,0.346323,-0.302387,3.0,1.879163

In [33]:
model.predict(df)[0]

76245000.0