In [2]:
import pandas as pd
#import matplotlib.pyplot as plt
#import seaborn as sns

In [3]:
df = pd.read_csv('../data/Dataset Recommendation Tenor and Monthly Payments 05102023.csv')
df

,debtor_nik,debtor_name,debtor_gender,debtor_birth_place,debtor_address,debtor_zip,debtor_rt,debtor_rw,debtor_marital_status,debtor_company,...,remaining_loan,arrear_amount,monthly_income_family,monthly_expense_family,family_health,asset_value_family,old_monthly_payments,loan_amount,tenor,monthly_payments
0,4133431716345918,Cemplunk Zulaika,perempuan,"Bengkulu, 23-09-1997","Jalan Raya Setiabudhi No. 857\nBanjarbaru, KR ...",12188,6,10,Menikah,CV Nugroho Melani (Persero) Tbk,...,39800000,2,44200000,24700000,Tidak sehat,38800000,2.566954e+06,7.624500e+07,164,516521.263952
1,7873621118387801,"Clara Padmasari, M.Pd",laki-laki,"Jawa Tengah, 13-04-1964","Jalan Cihampelas No. 4\nPekanbaru, Sulawesi Se...",56126,20,20,Menikah,UD Hidayat,...,300000,1,88000000,36200000,Sehat,47500000,2.648156e+05,1.405000e+07,75,190667.231638
2,9937369990430445,"Puti Cinthia Oktaviani, S.IP",laki-laki,"Jawa Tengah, 01-09-1981","Jl. Wonoayu No. 68\nSemarang, Riau 98101",98101,2,15,Cerai mati,UD Simanjuntak Padmasari (Persero) Tbk,...,14200000,3,19500000,15700000,Sehat,72900000,8.396498e+06,4.562333e+07,129,390534.774230
3,2071079715934185,"Lalita Astuti, M.TI.",laki-laki,"Aceh, 14-02-1987","Gg. Sentot Alibasa No. 781\nPontianak, SU 76993",76993,19,16,Menikah,Perum Handayani Najmudin Tbk,...,15900000,7,26100000,27200000,Sehat,20800000,6.982353e+05,3.561000e+07,51,698235.294118
4,8852740896362143,Daliman Kusumo,laki-laki,"Gorontalo, 06-12-1998","Jl. Ronggowarsito No. 0\nTanjungpinang, NB 06297",6297,1,1,Cerai hidup,PD Hardiansyah (Persero) Tbk,...,5500000,4,99200000,4700000,Tidak sehat,78400000,2.742593e+05,1.234167e+07,45,274259.259259
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3772,6151159536311156,Panji Anggraini,perempuan,"Papua, 27-10-1971","Jalan Lembong No. 6\nPayakumbuh, Gorontalo 67113",67113,12,11,Cerai hidup,PD Yulianti Nugroho (Persero) Tbk,...,0,1,26400000,3300000,Tidak sehat,40200000,0.000000e+00,0.000000e+00,0,0.000000
3773,3342206439292911,Ganep Dabukke,perempuan,"Papua, 20-04-1999",Gang Tubagus Ismail No. 46\nKota Administrasi ...,41755,6,6,Cerai mati,PT Susanti Tbk,...,0,3,12300000,4800000,Tidak sehat,86200000,0.000000e+00,0.000000e+00,0,0.000000
3774,5958944163024852,Puti Winda Uwais,laki-laki,"Sumatera Selatan, 09-07-1986","Jl. Yos Sudarso No. 85\nLhokseumawe, BE 98778",98778,13,10,Belum menikah,PD Kusumo (Persero) Tbk,...,0,3,6400000,2200000,Tidak sehat,37600000,0.000000e+00,0.000000e+00,0,0.000000
3775,4816340735472205,"T. Prayitna Habibi, S.Sos",perempuan,"Papua Barat, 23-11-1999","Jl. Monginsidi No. 622\nBinjai, BB 06240",6240,17,8,Cerai hidup,Perum Halimah,...,0,5,6200000,5000000,Tidak sehat,40500000,0.000000e+00,0.000000e+00,0,0.000000
3776,5763714261175626,Latika Nababan,perempuan,"DKI Jakarta, 02-09-1962","Jl. Otto Iskandardinata No. 74\nSungai Penuh, ...",18130,1,18,Menikah,Perum Yuliarti Tbk,...,0,2,11600000,7800000,Sehat,49000000,0.000000e+00,0.000000e+00,0,0.000000

In [4]:
import json

# Assuming test_data is a dictionary
test_data = df.iloc[0].drop(['tenor', 'monthly_payments'], axis=0).to_dict()

# Specify the file name where you want to save the JSON data
file_name = 'data_tenor.json'

# Writing the dictionary to a JSON file using json.dump()
with open(file_name, 'w') as file:
    json.dump(test_data, file)

print(f'Data has been saved to the JSON file: {file_name}')

Data has been saved to the JSON file: data_tenor.json

In [5]:
with open('data_tenor.json', 'r') as file:
    json_data = json.load(file)
json_data

{'debtor_nik': 4133431716345918,
 'debtor_name': 'Cemplunk Zulaika',
 'debtor_gender': 'perempuan',
 'debtor_birth_place': 'Bengkulu, 23-09-1997',
 'debtor_address': 'Jalan Raya Setiabudhi No. 857\nBanjarbaru, KR 12188',
 'debtor_zip': 12188,
 'debtor_rt': 6,
 'debtor_rw': 10,
 'debtor_marital_status': 'Menikah',
 'debtor_company': 'CV Nugroho Melani (Persero) Tbk',
 'debtor_number': '+62 (102) 776 3467',
 'debtor_id': 180034427373791,
 'debtor_age': 32,
 'debtor_occupation': 'Pengusaha',
 'monthly_income': 50100000,
 'debt': 7925000.0,
 'dti': 0.1581836327345309,
 'monthly_expenses': 3100000,
 'net_income': 47000000,
 'asset_value': 89500000,
 'previous_credit_monthly_income': 26900000,
 'financial_changes': 23200000,
 'business_conditions': 35,
 'credit_score': 414,
 'amount_of_late_days': 61,
 'credit_goals': 'Investasi',
 'collateral': 52600000,
 'interest_rate': 11.101694915254235,
 'number_of_dependents': 0,
 'old_tenor': 33,
 'old_collateral': 32800000,
 'fee_installments': 100000,
 'ltv': 0.8927985948477751,
 'remaining_loan': 39800000,
 'arrear_amount': 2,
 'monthly_income_family': 44200000,
 'monthly_expense_family': 24700000,
 'family_health': 'Tidak sehat',
 'asset_value_family': 38800000,
 'old_monthly_payments': 2566954.160246533,
 'loan_amount': 76245000.0}

In [6]:
df = pd.DataFrame.from_dict([json_data])
df

,debtor_nik,debtor_name,debtor_gender,debtor_birth_place,debtor_address,debtor_zip,debtor_rt,debtor_rw,debtor_marital_status,debtor_company,...,fee_installments,ltv,remaining_loan,arrear_amount,monthly_income_family,monthly_expense_family,family_health,asset_value_family,old_monthly_payments,loan_amount
0,4133431716345918,Cemplunk Zulaika,perempuan,"Bengkulu, 23-09-1997","Jalan Raya Setiabudhi No. 857\nBanjarbaru, KR ...",12188,6,10,Menikah,CV Nugroho Melani (Persero) Tbk,...,100000,0.892799,39800000,2,44200000,24700000,Tidak sehat,38800000,2.566954e+06,76245000.0

In [7]:
import joblib
model = joblib.load('../model/rt_pipeline_05102023.joblib')
model

Pipeline(steps=[('preprocessing',
                 ColumnTransformer(transformers=[('numerical',
                                                  Pipeline(steps=[('standar_scaler',
                                                                   StandardScaler())]),
                                                  ['monthly_income', 'debt',
                                                   'dti', 'monthly_expenses',
                                                   'net_income',
                                                   'financial_changes',
                                                   'asset_value',
                                                   'interest_rate',
                                                   'collateral',
                                                   'old_collateral',
                                                   'old_tenor', 'debtor_age',
                                                   'loan_amount',
                                                   'remaining_loan', 'ltv',
                                                   'old_monthly_payments',
                                                   'arrear_amount',
                                                   'monthly_income_family',
                                                   'monthly_expense_family']),
                                                 ('categorical',
                                                  Pipeline(steps=[('Ordinal',
                                                                   OrdinalEncoder())]),
                                                  ['debtor_occupation',
                                                   'credit_goals',
                                                   'family_health'])])),
                ('model', RANSACRegressor())])

In [9]:
model.predict(df)[0]

164.00000000000017

In [9]:
select_column = ['monthly_income', 'debt', 'dti', 'monthly_expenses',
                'net_income',
                'financial_changes', 'asset_value',
                'interest_rate',
                'collateral', 'old_collateral', 'old_tenor', 'debtor_age',
                'loan_amount', 'remaining_loan', 'ltv', 'monthly_payments',
                'debtor_occupation', 'credit_goals',
                'arrear_amount',
                'monthly_income_family', 'monthly_expense_family',
                'family_health']
df = df[select_column].copy()
df

,monthly_income,debt,dti,monthly_expenses,net_income,financial_changes,asset_value,interest_rate,collateral,old_collateral,...,loan_amount,remaining_loan,ltv,monthly_payments,debtor_occupation,credit_goals,arrear_amount,monthly_income_family,monthly_expense_family,family_health
0,50100000,7925000.0,0.158184,3100000,47000000,23200000,89500000,11.101695,52600000,32800000,...,76245000.0,39800000,0.892799,516521.263952,Pengusaha,Investasi,2,44200000,24700000,Tidak sehat

In [13]:
model.predict(df)

array([164.])

In [23]:
numerical_tenor = ['monthly_income', 'debt', 'dti', 'monthly_expenses',
                'net_income',
                'financial_changes', 'asset_value',
                'interest_rate',
                'collateral', 'old_collateral', 'old_tenor', 'debtor_age',
                'loan_amount', 'remaining_loan', 'ltv', 'monthly_payments',
                'arrear_amount',
                'monthly_income_family', 'monthly_expense_family',
                ]
categorical_tenor = ['debtor_occupation', 'credit_goals','family_health']

In [24]:
import joblib
model = joblib.load('../model/rt_best_model.joblib')
scaler = joblib.load('../model/rt_scaler.joblib')
encoder = joblib.load('../model/rt_encoder.joblib')

In [25]:
df

,monthly_income,debt,dti,monthly_expenses,net_income,financial_changes,asset_value,interest_rate,collateral,old_collateral,...,loan_amount,remaining_loan,ltv,monthly_payments,debtor_occupation,credit_goals,arrear_amount,monthly_income_family,monthly_expense_family,family_health
0,50100000,7925000.0,0.158184,3100000,47000000,23200000,89500000,11.101695,52600000,32800000,...,76245000.0,39800000,0.892799,516521.263952,Pengusaha,Investasi,2,44200000,24700000,Tidak sehat

In [26]:
df[numerical_tenor] = scaler.transform(df[numerical_tenor])
df

,monthly_income,debt,dti,monthly_expenses,net_income,financial_changes,asset_value,interest_rate,collateral,old_collateral,...,loan_amount,remaining_loan,ltv,monthly_payments,debtor_occupation,credit_goals,arrear_amount,monthly_income_family,monthly_expense_family,family_health
0,0.446198,1.721201,-0.014093,-0.912527,1.473588,0.906928,1.394109,1.808481,2.792417,0.34636,...,2.130368,1.573807,-0.245161,-0.14011,Pengusaha,Investasi,-0.438144,0.32518,0.273195,Tidak sehat

In [27]:
df[categorical_tenor] = encoder.transform(df[categorical_tenor])
df

,monthly_income,debt,dti,monthly_expenses,net_income,financial_changes,asset_value,interest_rate,collateral,old_collateral,...,loan_amount,remaining_loan,ltv,monthly_payments,debtor_occupation,credit_goals,arrear_amount,monthly_income_family,monthly_expense_family,family_health
0,0.446198,1.721201,-0.014093,-0.912527,1.473588,0.906928,1.394109,1.808481,2.792417,0.34636,...,2.130368,1.573807,-0.245161,-0.14011,3.0,1.0,-0.438144,0.32518,0.273195,1.0

In [28]:
model.predict(df)[0]

164.0